.content {
    text-align: right;
    h3 {
        text-align: right;
    }
}

.sidebar {
    text-align: right;
}

h2 {
    text-align: right;
}

.skill::before {
    right: 0;
}

.skill10,
.skill11,
.skill12 {
    justify-content: flex-end;
    .flag {
        order: 1;
        margin-right: 0;
        margin-left: 10px;
    }
}

.hobbie {
    justify-content: flex-end;
    .icon {
        order: 1;
        margin-right: 0;
        margin-left: 10px;
    }
}

@media(max-width: 900px) {
    .content {
        order: 1;
    }
    .personal {
        justify-content: flex-end;
    }
    .photo {
        margin-right: 0;
        margin-left: 30px;
        order: 1;
    }
    .personal .name {
        text-align: right;
    }
    
    .personal .job-title {
        text-align: right;
    }
}