* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(212, 212, 212);
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.sidebar {
    background: #10365C;
    min-width: calc(100% / 3);
    padding: 80px;
}

.personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 40px;
}

.photo {
    width: 200px;
    height: 200px;
    background: url(./521067718.jpeg) no-repeat center center / cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.name {
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
    margin-bottom: 30px;
}

.name::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
    width: 30px;
    height: 2px;
    background-color: #326394;
}

.job-title {
    font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
}

.info {
    margin-bottom: 30px;
}

.info h2 {
    font-weight: 300;
}

.details .info h2 {
    color: white;
}

.info p {
    font-size: 20px;
    margin-bottom: 10px;
}

.details .info p {
    color: rgb(219, 219, 219);
}

h2 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.details .info h3 {
    color: rgb(146, 146, 146);
    letter-spacing: 3px;
    margin-bottom: 12px;
}

.skill {
    border-bottom: 4px solid grey;
    position: relative;
}

.skill::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: rgb(255, 255, 255);
    bottom: -4px;
}

.skill1:before {
    width: 100%;
}

.skill2:before {
    width: 80%;
}

.skill3:before {
    width: 50%;
}

.skill4:before {
    width: 50%;
}

.skill5:before {
    width: 60%;
}

.skill6:before {
    width: 100%;
}

.skill7:before {
    width: 100%;
}

.skill8:before {
    width: 40%;
}

.skill9:before {
    width: 100%;
}

.skill10:before {
    width: 100%;
}

.skill11:before {
    width: 40%;
}

.skill12:before {
    width: 18%;
}

.content {
    padding: 80px;
    padding-bottom: 0;
}

.content .job-title {
    letter-spacing: 2px;
    color: #202020;
    font-weight: 300;
}

.content .info {
    margin-bottom: 40px;
}

.content h2 {
    color: #000000;
    font-weight: bold;
}

.content h3 {
    text-align: left;
}

.desc {
    color: rgb(46, 46, 46);
}

.history-item {
    margin-bottom: 30px;
}

.pad {
    padding-left: 30px;
}

.interval {
    color: grey;
}

.marg-none {
    margin-bottom: 0 !important;
}

.skill10,
.skill11,
.skill12 {
    display: flex;
    padding: 6px 0;
}

.flag {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.language-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.list-item {
    text-decoration: none;
    margin: 20px 15px;
    position: relative;
    color: white;
}

.list-item:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.english:before {
    background: url(./flag-velikobritanii.png) no-repeat center center / cover;
}

.hebrew:before {
    background: url(./hebrew.jpg) no-repeat center center / cover;
}

.russian:before {
    background: url(./rus.jpg) no-repeat center center / cover;
}

.active {
    color: #9daac3;
}

.hobbie {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    margin-right: 15px;
    min-width: 30px;
    height: 30px;
    background: no-repeat center center / contain;
    border-radius: 50%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.card {
    width: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.picture {
    height: 140px;
    border-radius: 4px;
    background: no-repeat center center / cover;
    margin-bottom: 10px;
}
.description {
    text-align: center;
}

.empty {
    border: 0;
}

.carousel-inner {
    background: black;
}

.carousel-item {
    height: 100vh;
}

.carousel-item h3 {
    text-align: center;
}

.carousel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.unvisible {
    display: none;
}

.crose {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 20;
    cursor: pointer;
    border-radius: 50%;
    transform: rotate(45deg);
    opacity: 0.7;
}

.crose::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 8px;
    background: #ffffff;
}

.crose::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 100%;
    background: #ffffff;
}

.crose:hover {
    opacity: 1;
}

@media(max-width: 1150px) {

    .sidebar,
    .content {
        padding: 60px;
        padding-bottom: 0;
    }
}

@media(max-width: 1000px) {

    .sidebar,
    .content {
        padding: 60px 40px;
        padding-bottom: 0;
    }

    .photo {
        width: 180px;
        height: 180px;
    }
}

@media(max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }

    .personal {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0;
    }

    .photo {
        min-width: 150px;
        max-width: 150px;
        height: 150px;
        margin-right: 30px;
    }

    .name {
        font-size: 32px;
        text-align: left;
        margin-bottom: 5px;
    }

    .name::before {
        display: none;
    }

    .job-title {
        text-align: left;
        font-size: 20px;
    }

    .personal .job-title {
        margin-bottom: 30px;
    }

    .details .info h2 {
        font-size: 18px;
        color: #9daac3;
        text-align: right;
        border-bottom: 1px solid rgb(134, 134, 134);
    }

    .content .info h2 {
        font-size: 18px;
        color: #10365c;
        text-align: right;
        border-bottom: 1px solid rgb(16 54 92);
    }

    .pad {
        padding: 0;
    }

}

@media(max-width: 700px) {
    body {
        padding: 0;
    }
    .wrapper {
        border-radius: 0;
    }
}